<div class="header">
  <span class="date-time"><%= Time.now.strftime('%d %b %Y') %> </span>
  <img class="header_logo" src="/assets/148653868433366.png" alt="Logo"/>
  <h1 class="header_title"><a href="/">TRUTHY</a></h1>
</div>

<div class="Result-Page">
  <%= react_component 'ResultPage', {blackList: @blacklist, fullContact: @fullcontact, watson: @watson, quotes: @quotes, aylien: @aylien} %>
</div>
