<div class="Result-Page">
  <%= react_component 'ResultPage', {blackList: @blacklist, fullContact: @fullcontact, watson: @watson, quotes: @quotes, aylien: @aylien, publicationDate: @publication_date} %>
</div>
