/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

.aylien{
  max-height: 100%;
  overflow-y: scroll;
}

main {
  margin-left: 30px;
}

.social_media_div {
  margin-top: 10px;
}


.face-enter {
  right: 100px;
}

.fade-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}

.material-icons.orange600 {
  display: inline-block;
  color: rgba(76, 222, 32, 0.74);
  font-size: 36px;
}

.EnterUrl {
  font-family: Tahoma;
  color: #5bc0de;
}

.localname {
  font-family: arial;
  font-style: italic;
  color: #5bc0de;
}

.centerpage {
  margin: auto;
  width: 400px;
}

.home_logo {
  display: block;
  margin: auto;
}

.slider_div {
  position: relative;
  left: 17px;
}

.botton_corner{
  position: absolute;
  bottom: 0;
  right: 0;
}

#slider {
  width: 200px;
  display: inline-block;
  width: 200px;
  position: relative;
  top: 3px;
  left: 8px;
}
.blacklist {
  text-align: center;
}
.company_background_div {
  border-radius: 20px;
  margin: 2px;
}
.company_background {
  width: 100%;
  height: 100%;
}

.company_info{
  text-align: center;
}

.company_bio_list{
  padding: 0;
  list-style-type: none;
}
.social_media_section{
  height: 75%;
  width: 100%;
}
.social_media_div{
  width: 90%;
  margin: 0 auto;
  height: 300px;
  margin-left: 7%;
}
.
.header {
  border-bottom: 1px solid #eee;
}
.inline_block {

}
.bs-example{
  margin: 150px 350px;
}
.padding {
  padding-right: 10px;
}

/*hover stuff*/
.hovereffect {
  display: inline-flex;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  padding-bottom: 20px;
}

.hovereffect .overlay {
  width: 300px;
  height: 200px;
  position: fixed;
  overflow: hidden;
  right: 105px;
  margin-top: 142px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
  border-style: outset;
  box-shadow: 10px 10px 3px rgba(3, 74, 10, 0.35);
  border-radius: 15px;
}

.box_discriptions{

}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: .2s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/*front page css*/
.sidebar1 {
  height: 175px !important;
  width: 100% !important;
}
.side_box_title{
  top: -10px !important;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.77);
  padding: 10px;
}
.about_company{
  font-size: 10px;
  position: relative;
  top: 31px;
  color: white;
  margin: 7px;
}
.side_bar_view{
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 45px;
}
/*end of front page css */



p {
    line-height: 220%;
    font-size: 1.2em;
}

.header_logo {
  position: relative;
  display: inline-block;
  width: 68px;
  top: -12px;
  right: -14px;
}

.header_title {
  display: inline-block;

}

body {
  background-color: rgba(242, 64, 77, 0);
  font-family: 'Ubuntu', sans-serif;
}
html {
  /*background-image: url(/assets/_1tk8g4pfsg-zach-woolf.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*hover type 2 */
.hovereffect2 {
  width: 32%;
  height: 125px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 20px;
  display: inline-block;
  margin: 2px;
}

.hovereffect2 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect2 img {
  display: block;
  /*position: relative;*/
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect2 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  top: -19px;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect2 h3 {
  color: #fff;
  position: relative;
  top: -31px;
  font-size: 84%;
}

.hovereffect2 h4 {
  font-size: 11px;
  position: fixed;
  top: 94px;
  color: white;
  padding-left: 10px;
}

.hovereffect2 a.info {
  position: fixed;
  text-decoration: none;
  top: 47px;
  right: 12px;
  border-radius: 5px;
  padding: 2px;
  text-transform: uppercase;
  color: #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect2 a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect2:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect2:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect2:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}
