/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.EnterUrl {
  font-family: Tahoma;
  color: #5bc0de;
}

.localname {
  font-family: arial;
  font-style: italic;
  color: #5bc0de;
}

.centerpage {

  margin: auto;
  /*margin-top: -100px;*/
  /*position: absolute;*/
  /*top: 50%;*/
  width: 400px;
}
.home_logo {
  display: block;
  margin: auto;
}
body {
  background-color: rgba(242, 64, 77, 0)
}
html {
  /*background-image: url(/assets/_1tk8g4pfsg-zach-woolf.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
