/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

.aylien{
  max-height: 100%;
  overflow-y: scroll;
}

main {
  margin-left: 30px;
}

.social_media_div {
  margin-top: 10px;
}


.face-enter {
  right: 100px;
}

.fade-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}

.material-icons.orange600 {
  display: inline-block;
  color: #555;
  font-size: 36px;
  z-index: -1;
}

.EnterUrl {
  font-family: Tahoma;
  color: #5bc0de;
}

.localname {
  font-family: arial;
  font-style: italic;
  color: #5bc0de;
}

.centerpage {
  margin: auto;
  width: 70%;
}

.home_logo {
  display: block;
  margin: auto;
}

.slider_div {
  position: relative;
  left: 17px;
}

.botton_corner{
  position: absolute;
  bottom: 0;
  right: 0;
}

#slider {
  width: 200px;
  display: inline-block;
  width: 200px;
  position: relative;
  top: 3px;
  left: 8px;
}

.blacklist {
  text-align: center;
}

.company_background_div {
  border-radius: 20px;
  margin: 2px;
}

.company_background {
  width: 100%;
  height: 100%;
}

.company_info{
  text-align: center;
}

.company_bio_list{
  padding: 0;
  list-style-type: none;
}

.social_media_section{
  height: 75%;
  width: 100%;
}

.social_media_div{
  width: 90%;
  margin: 0 auto;
  height: 300px;
  margin-left: 7%;
}

.header {
  position: relative;
  top: -30pt;
  height: 190px;
  width: 95%;
  margin-left: 2%;
  border-bottom: 2px solid #808080;
  margin-bottom: 0;
}

.bs-example{
  margin: 150px 350px;
}

.padding {
  padding-right: 10px;
}

/*front page css*/
.sidebar1 {
  height: 175px !important;
  width: 100% !important;
}

.side_box_title{
  top: -10px !important;
  color: black !important;
  font-size: 17px !important;
  text-align: center;
  width: 100%;
  background: rgb(214, 202, 190);
  padding: 10px;
}

.about_company{
  font-size: 10px;
  position: relative;
  top: 31px;
  color: black;
  margin: 7px;
}

.side_bar_view{
  position: relative;
  top: 52px;
}
.side_bar_background {
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.side_box_general {
  border-radius: 20px;
}
/*end of front page css */

#text_indent{
  text-indent: 80px;
}

#author_stuff{
      margin-bottom: 0px;
}

.top_padding{
  padding-top: 30px;
}

.newspaper_bottom_small_line {
  border-bottom: 2px solid rgba(51, 51, 51, 0.79);
    width: 358px;
    margin: 0 auto;
}
.newspaper_left_small_line {
  border-bottom: 2px solid rgba(51, 51, 51, 0.79);
  width: 358px;
  margin: 0 auto;
}

p {
    line-height: 220%;
    font-size: 1.2em;
}

.header_logo {
  position: relative;
  display: inline-block;
  width: 180px;
  top: -5px;
  align-items: center;
  right: -11%;
}

.header_title {
  font-family: 'Slabo', serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 72pt;
  right: -10%;
  vertical-align: bottom;
}

.header_title a:hover {
  text-decoration: none;
}

html {
  /*background-image: url(/assets/_1tk8g4pfsg-zach-woolf.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*hover type 2 */
.hovereffect2 {
  width: 32%;
  height: 125px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 20px;
  display: inline-block;
  margin: 2px;
}

.hovereffect2 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.4s 0.4s ease-in-out;
  z-index: 1;
}

.hovereffect2 img {
  display: block;
  /*position: relative;*/
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect2 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  top: -19px;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect2 h3 {
  color: #fff;
  position: relative;
  top: -31px;
  font-size: 84%;
}

.hovereffect2 h4 {
  font-size: 11px;
  position: fixed;
  top: 94px;
  color: white;
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hovereffect2 a.info {
  position: fixed;
  text-decoration: none;
  top: 47px;
  right: 12px;
  border-radius: 5px;
  padding: 2px;
  text-transform: uppercase;
  color: #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect2 a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect2:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  z-index: 1;
  border-radius: 20px;
}

.hovereffect2:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect2:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    height: 180px;
    margin-bottom: 0;
}

.date-time {
  position: relative;
  left: 85%;
  vertical-align: bottom;
  font-size: 20pt;
  font-family: 'Droid Serif', serif;
}

.Result-Page {
  margin-top: 0;
}
