.aylien {
  border-right: 2px solid grey;
  overflow: scroll;
  height: 800px;
  padding: 0;
}

.aylien a {
  color: #2f2f2f;
}

.aylien blockquote {
  padding: 8px 0px 0px 8px
}

.related-article img {
  width: 200px;
  margin: 0px;
  padding-bottom: 0px;
}

.related-enter {
  opacity: 0.01;
}

.related-enter.related-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.related-leave {
  opacity: 1;
}

.related-leave.related-leave-active {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}

.related-article {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #666;
}

.related-article-info {
  padding: 0px;
  width: 90%
}

.related-author {
  font-size: 1em;
}

.related-body {
  font-size: 1em;
}
