.clock-container {
  display: block;
	font-size: 20px;
  padding: 10px 0;
  position: relative
}

.clock-pieces {
	margin-right: 5px;
	padding: 0;
	text-align: center;
	border-radius: 4px;
}

.date {
  margin-left: 15px;
}

.about-button {
  display: inline-block;
  float: right;
  width: 180px;
  height: 150px;
  padding: 20px 10px 10px 10px;
  border: 2px solid rgba(51, 51, 51, 0.79);
  margin: 25px 0;
  font-size: 10pt;
  text-align: center;
}

.about-button a {
  color: rgba(51, 51, 51, 0.79);
}

.about-button a:hover {
  color: rgba(51, 51, 51, 0.79);
}

.logo-title {
  display: inline-block;
  position: relative;
  width: 55%;
  margin-left: 2%;
  text-align: center;
}

.header_logo {
  display: inline-block;
  width: 180px;
  top: -5px;
  align-items: center;
}

.header_title {
  font-family: 'Slabo', serif;
  font-weight: bold;
  display: inline-block;
  font-size: 72pt;
  vertical-align: bottom
}

.header_title a {
  color: #687894;
}
