.top_half {
  padding-bottom: 20px;
}
.just_a_line_on_top {
  width: 103%;
  height: 2px;
  margin: 25px auto;
  border-bottom: 2px solid rgba(51, 51, 51, 0.79);
}
.line_and_padding_left {
  border-left: 2px solid rgba(51, 51, 51, 0.79);
  padding-left: 30px;
}

.data-container {
  text-align: center;
}

.data-container h1 {
  font-size: 50pt;
  margin-top: 5px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.79);
  display: inline-block;
  text-align: center;
}

.data-container h4 {
  font-style: italic;
  text-align: center;
}

.doc-emotion-header {
  border-bottom: 2px solid rgba(51, 51, 51, 0.79);
  padding-bottom: 15px;
}

.chart {
  padding-top: 10px;
}

.chart-info {
  padding-top: 10px;
  font-style: italic;
  margin-bottom: 0;
}

.concepts-container h3 {
  font-size: 100pt;
  text-align: center;
}

.concepts-container h4 {
  text-align: center;
  font-style: italic;
}

.concept {
  font-size: 20pt;
  display: inline-block;
}

.concept-details {
  list-style: none;
  font-size: 15pt;
  margin-left: 3%;
}

.details-for-concepts {
  display: inline-block;
  margin-left: 3%
}

#keyword-description {
  font-style: italic
}
