.chart .bar {
  position: relative;
  background-color: salmon;
  height: 40px;
  margin-top: 5px;
}

.chart .bar .label {
  position: absolute;
  top: 9px;
  right: -65px;
  color: #2f2f2f;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
}

.chart .bar .name {
  position: absolute;
  top: 9px;
  left: 10px;
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  opacity: 1;
}

.chart {
  width: 550px;
}
