.header {
  border-bottom: 2px solid #808080;
  /*height: 190px;*/
  margin: 0 auto;
  position: relative;
  padding: 10px 0 20px;
  width: 97%;
  top: -30pt;
}

#main-logo {
  display: block;
  margin: 10px auto;
  width: 60%;
}

#main-logo *{
  display: inline-block;
}

#main-logo h1 {
  color: #555;
  font-size: 5.5em;
  font-weight: 800;
}

.home_logo{
  width: 170px;
  position: relative;
}

input.form-control {
  display: inline-block;
  font-size: 1.5em;
  margin: 0px;
  padding: 25px;
  width: 80%;
  top: -125px;
  opacity: 0.6;
  vertical-align: top;
}

input.form-control:focus {
  opacity: 1
}

.form-group input.btn {
  display: inline-block;
  padding: 14px 20px;
  vertical-align: top

}

.sub-header {
  padding: 15px 0;
  padding-bottom: 30px;
}

.sub-header * {
 margin-right: 5px;
}

button {
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  background: #687894
}

button:hover {
}

.right-header {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}


.blacklist-tag {
  border-bottom: 2px solid grey;
  padding: 10px 0;
  margin-top: -35px;
}

.blacklist-tag div {
  margin: 0 20px;
}
